{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>trueYum</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  href="{% static 'style.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho">
</head>

<body>
    <header class="container blue">
        <a style="text-decoration:none" href="/index"><p class="left xlarge"><b>trueYum</b></p></a>
        <a style="text-decoration:none" href="/menu/admin"><p class="right xlarge"><b>Menu</b></i></a>
    </header>
    <!-- Section Menu Items  Start-->
        <h2 style="margin-left: 80px;margin-top: 50px;"><b>Edit Menu Items</b></h2>
        <!-- Success Message -->
        <h3 style="margin-left: 80px;margin-top: 50px;color: #56b751;">Menu Item details saved successfully</h3>
    </section>
    <footer class="container grey" style="margin-top:384px;">
        <h4>Copyright © 2022</h4>
    </footer>
</body>

</html>